# SPDX-FileCopyrightText: 2023 smdn <smdn@smdn.jp>
# SPDX-License-Identifier: MIT
#
# EditorConfig is awesome: https://EditorConfig.org

[highlight-*/*.cs]
generated_code = true

[highlight-*/highlight.cs]
dotnet_diagnostic.CS8981.severity = none # CS8981 - The type name only contains lower-cased ascii characters.
